---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/
html {
  font-size: 1em;
}

a {
  color: #238b21;
  text-decoration: none;
  font-family: 'JetBrains Mono', monospace;
  font-display: auto;
}

a:focus,
a:hover {
  color: #1b6f1a;
  text-decoration: none;
}

/* Add a subtle external-link indicator for content links. */
a[href]:not(.nav-link):not(.navbar-brand):not(.btn):not([href^="#"]):not([data-toggle]):not([href=""])::after {
  content: " [\1F517]";
  font-size: 0.85em;
  color: #238b21;
}

p {
  margin-block-start: $font-size-normal;
  margin-block-end: $font-size-normal;
}

em {
  font-style: italic;
}

body,
td,
th,
tr,
p {
  font-family: 'JetBrains Mono', monospace;
  font-size: $font-size-normal;
  font-display: auto;
}

strong {
  font-family: 'JetBrains Mono', monospace;
  font-size: $font-size-normal;
  font-display: auto;
  font-weight: bold;
}

h2 {
  font-family: 'JetBrains Mono', monospace;
  font-size: 1.75rem;
  font-display: auto;
  font-weight: normal;
  padding: 0px;
  margin: 0px;
  display:inline; 
}

h3 {
  font-family: 'JetBrains Mono', monospace;
  font-size: $font-size-normal;
  font-weight: 700;
  font-display: auto;
  padding: 0px;
  margin: 0px;
  display:inline; 
}

h1 {
  font-family: 'JetBrains Mono', monospace;
  font-size: 2.5rem;
  font-weight: normal;
  font-display: auto;
  text-align: center;
  padding: 0px;
  margin-block-start: 10px;
  margin-block-end: 10px;
  margin-left: 0px;
  margin-right: 0px;

}

.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

span.highlight {
  background-color: #ffffd0;
}

// Website specific

#portrait {
  border-radius: 50%;
  width: 100%;
  max-width: 100%
}

.project-thumbnail-parent {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;

  .project-thumbnail {
    width: auto; 
    height: auto; 
    max-width: 100%;
    
    grid-row-start: 1;
    grid-column-start: 1;

    &.pre-hover {
      z-index:2;
    }
    &.post-hover {
      z-index:1;
    }

    // @include media-breakpoint-down(sm) {
    //   max-width: 75%;
    // }
  }
}

.project-description {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.5rem;
}

body {
  min-height: 100vh;
}

.modal-dialog{
  max-width: 850px;   
}

// Publications

.publication {
  .authors {
    a {
      color: #238b21;
    }
    a:focus,
    a:hover {
      color: #1b6f1a;
      text-decoration: none;
    }
  }
}

// Bootstrap-specific

body {
  div.container-fluid {
    max-width: 1000px;
  }
}

.font-small {
  font-size: $font-size-small;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
//@import "highlights";
//@import "svg-icons";

.code {
  // @extend .text-monospace;
  background-color: #f8f8f8;
}

/* Keep anchored sections visible below the sticky navbar. */
#about,
#news,
#publications {
  scroll-margin-top: 5rem;
}
